[Unit]
Description=Starting the FreeDi service
After=moonraker.service

[Service]
Type=simple
#User={{USER}}
WorkingDirectory=/home/{{USER}}/FreeDi/FreeDiLCD
#needed as sometimes freedi starts before moonraker finished its starting:
ExecStartPre=/bin/sleep 5
ExecStart=/bin/sh -c '/home/{{USER}}/klippy-env/bin/python3 /home/{{USER}}/FreeDi/FreeDiLCD/start.py'
Restart=always
RestartSec=5
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
